* {
    box-sizing: border-box;
    margin: 0;
}
body{
    height: 99vh;
}
.wrapper {
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
    /* height: 100%; */
}
.header-btn {
    background-color: bisque;
    padding: 0.8rem;
    display: flex;
    column-gap: 0.8rem;
}
.header-btn__garage {
}
.btn,
.btn-engine {
    box-shadow: 0 0 0.2rem 0.1rem grey ;
    font-size: 1.2rem;
    cursor: pointer;
}
.header-btn__winners {
}
.main {
    background-color:rgb(220, 220, 164);
    padding: 0.8rem;
    flex: 1 1 auto;
}
.set-control {
    display: flex;
    flex-direction: column;
    row-gap: 0.8rem;
}
.set-create {
}
.form {
    display: flex;
    justify-content: space-between;
    column-gap: 0.8rem;
    width: 28rem;
}
.create-name {
}
.input {
    width: 50%;
    font-size: 1.2rem;
    box-shadow: 0 0 2px 2px grey; 
}
.create-color {
}
.color {
    height: initial;
}
.set-update {
}
.update-name {
}
.update-color {
}
.update-btn,
.create-btn {
    width: 10rem;
}
.race-control {
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 28rem;
    display: flex;
    justify-content: space-between;
    column-gap: 0.8rem;
}
.race-btn {
    width: 20%;
}
.reset-btn {
    width: 20%;
}
.generate-btn {
    width: 60%;
}
.garage-wrapper {
    background-color: beige;
}
.title-main {
    padding: 0.8rem;
}
.title-page {
    padding-left: 0.8rem;
    padding-bottom: 0.8rem;
}
.sub-set-control {
    display: flex;
    column-gap: 1.2rem;
    padding-top: 0.8rem;
}
.select-car {
}
.remove-car {
}
.name-car {
    font-size: inherit;
}
.road {
    border-bottom: 2px dotted grey;
    position: relative;
    display: flex;
    column-gap: 0.5rem;
    padding-top: 0.8rem;
}
.btn-engine{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.start-engine,
.stop-engine {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}
.car{
    position: absolute;
    left: 5rem;
    top: 0;
    height: inherit;
}
.car svg{
position: relative;
height: 100%;
bottom: -0.6rem;
}
.flag {
    position: absolute; 
    bottom: -2rem;
    right: 8rem;
    background-image: url("./assets/svg/flag.svg");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;
    width: 120px;
    height: 120px;
}
.popap {
}
.footer-btn {
    background-color: bisque;
    padding: 0.8rem;
    display: flex;
    column-gap: 0.8rem;
}
.footer-btn__prev,
.footer-btn__next {
    width: 8rem;
}
